# Simulation Artifacts
*.vvp
*.vcd
*.vpd
*.fsdb
*.vdb
*.bak
*~

#Issues
Issues.txt

# Compilation Directories
simv
simv.daidir/
csrc/
work/
libs/

# Specific Redundant Logs in sim/bin/
sim/bin/*.txt

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# OS
.DS_Store
Thumbs.db
metrics_output.txt
